
@font-face{
font-family:'DOS';
src: url(DOS.ttf);
}

body{
background-color: #101010;
    display: block;
	width:960px;
	height:100vh;
	margin: 0 auto;
	overflow:hidden;
	color:white;
	font-family:DOS
	
	
}

body *{
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
